<!DOCTYPE html>
<html ng-app="toDoListApp">
<title></title>

<link>
    <meta http-equiv="x-ua-compatible" content="IE=Edge">

    <link rel="stylesheet" href="/todoapp/styles/angular/ui-grid.css">
    <link rel="stylesheet" href="/todoapp/styles/angular/ui-grid-custom-style.css">
    <script src="/todoapp/angular/angular.min.js"></script>
    <script src="/todoapp/angular/angular-touch.min.js"></script>
    <script src="/todoapp/angular/angular-animate.min.js"></script>
    <script src="/todoapp/angular/ui-grid.min.js"></script>
    <script src="/todoapp/angular/csv.js"></script>
    <script src="/todoapp/angular/pdfmake.js"></script>
    <script src="/todoapp/angular/vfsfonts.js"></script>
    <script src="/todoapp/angular/app.js"></script>
    <script src="/todoapp/angular/controllers/ToDoItemListController.js"></script>
    <script src="/todoapp/angular/services/ToDoItemService.js"></script>

    <style>
    </style>
</head>
<body>
<header id="wbHeader"></header>
<div>

    <!--  Application content start  -->
    <div>
        <!-- Main Content -->
        <section id="appLayout_mainContent">
            <header>
                <h1 id="mainTitle">My ToDo list</h1>
            </header>

            <!-- Main application content to be placed inside of this div  -->
            <div>
                <div id = "formPage">
                    <div id="main" ng-controller="ToDoItemListController">
                        <div>
                            <input ng-click="goToCreateItem()" type="button" value="Create new item" class="embeddedControl cursorHand"/>
                            <br><br>
                        </div>
                        <label>Filter by status: </label>
                        <select ng-model="selectedStatus" ng-change="filterByStatus()" style="max-width:95px;">
                            <option ng-repeat="status in statuses" value="{{status.key}}">{{status.value}}</option>
                        </select>

                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Filter by priority: </label>
                        <select ng-model="selectedPriority" ng-change="filterByPriority()" style="max-width:95px;">
                            <option ng-repeat="priority in priorities" value="{{priority.key}}">{{priority.value}}</option>
                        </select>

                        <div id="exeterDataList1">
                            <div id="grid1"  ui-grid-pagination ui-grid="gridOptions" class="grid"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main application content to be placed inside of this div  -->

            <!-- End of main application content  -->
        </section>
    </div>
    <!--  Application content end  -->

</div>

</body>
</html>